# ==========================================
# CONFIGURAÇÃO DO SERVIDOR
# ==========================================
PORT=5000

# ==========================================
# CONFIGURAÇÃO DO BANCO DE DADOS MYSQL
# ==========================================
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=forum_online

# ==========================================
# CONFIGURAÇÃO DO JWT
# ==========================================
JWT_SECRET=forum_login