

.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.containerRegister{
    gap: 5px;
}

.inputR{
    background-color: #cccccc;
    height: 25px;
    border-radius: 5px;
    border: none;
}