.containerSelect{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

select{
    height: 30px;
    width: 200px;
    background-color: transparent;
    padding: 5px;
    background-color: #cccccc;
    font-size: 0.95rem;
    border-radius: 5px;
}