.configPainel{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.configPainel h1{
    margin-left: 20px;
}

.painel{
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.acoes-user{
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 120px;
    border-radius: 10px;
    padding: 20px;
}

.acoesItens{
    background-color: transparent;
    width: auto;
    border-radius: 0;
    margin-top: 0;
    display: flex;
    gap: 20px;
}

.acoesItens:hover{
    background-color: var(--Hover);
    border-radius: 10px;
    border-left: 5px solid blue;
}

.quadro{
    border: 1px solid blue;
    width: 700px;
    padding: 20px;
    border-radius: 10px;
}

