.configPainel{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.configPainel h1{
    margin-left: 20px;
}

.painel{
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.acoes-user{
    background-color: var(--corFundoRelativo);
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 120px;
    border-radius: 25px;
    padding: 20px;
}

.acoesItens{
    background-color: transparent;
    width: auto;
    border-radius: 0;
    margin-top: 0;
    display: flex;
    gap: 20px;
}

.acoesItens:hover{
    background-color: #e7edf936;
    border-radius: 10px;
    border-left: 5px solid var(--Hover);
}

.quadro{
    background-color: var(--corFundoRelativo);
    width: 700px;
    padding: 20px;
    border-radius: 10px;
    border-radius: 20px;
}

