.chat{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.msg{
    width: 97%;
    height: auto;
    padding: 120px 10px 10px 10px;
    border: 1px solid var(--corFundoHover2);
    margin-top: 10px;
    overflow-y: auto;
    flex: 1;
}


.chat-mensagem{
    height: 400px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mensagem-chat{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.postar{
    position: absolute;
    top: 90%;
    left: 35%;
    border-radius: 10px;
}