.chat{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#topic1{
    width: 360px;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    left: 73%;
    top: 11%;
}

#topic1 h2{
    margin-left: 10px;
    margin-right: 10px;
}

.msg{
    width: 680px;
    height: 400px;
    padding: 10px;
    border: 1px solid var(--corFundoHover2);
    margin-top: 10px;
    overflow: auto;
}

.postar{
    position: absolute;
    top: 90%;
    left: 20.5%;
    border-radius: 10px;
}