.config{
    border: 1px solid var(--corFundoHover2);
    border-radius: 10px;
    width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

#configTitle{
    text-align: center;
}

.itens-bloco1{
    display: flex;
    flex-direction: row;
    gap: 300px;
}

.itens-bloco2{
    display: flex;
    flex-direction: row;
    gap: 390px;
}

.itens-bloco3{
    display: flex;
    flex-direction: row;
    gap: 528px;
}

.nomeBloco{
    border-bottom: 2px solid var(--corFundoHover2);
    padding-bottom: 7px;
    margin-bottom: 10px;
}

.itens-bloco4{
    display: flex;
    gap: 50px;
}

.labels{
    display: flex;
    flex-direction: column;
    gap: 18px;
    position: relative;
    top: 10px;
}

.btns{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.botoesEstilo{
    width: 200px;
    background-color: rgba(235, 39, 39, 0.978);
}