
.content{
    background: linear-gradient(
    135deg,
    rgba(20,20,20,1),
    rgba(30,30,30,1),
    rgba(18,18,18,1)
  );
    width: 100vw;
    height: 100vh;
    display: grid;
    gap: 10px;
    grid-template-rows: 60px;
    grid-template-columns: 0.5fr 2fr;
    grid-template-areas: 
    'aside topBar'
    'aside main';
}

.aside{
    grid-area: aside;
}

.topBar{
    grid-area: topBar;
}

.main{
    grid-area: main;
}


