
.content{
    width: 100vw;
    height: 100vh;
    display: grid;
    gap: 10px;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 0.2fr 1fr;
    grid-template-areas: 
    'aside topBar'
    'aside main';
    overflow-y: hidden;
    overflow-x: hidden;
}

.aside{
    grid-area: aside;
}

.topBar{
    grid-area: topBar;
}

.mainContent {
    grid-area: main;
    overflow: auto;
}


