
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--corFundoPrincipal);
    color: var(--corTextoPrincipal);
    font-family: var(--fontePrincipal);
    font-weight: 500;
}

.containerLogin{
    width: 800px;
    height: 500px;
    display: flex;
    flex: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--corFundoCards);
    border-radius: 15px;
}

.formLogin{
    position: relative;
    top: 5%;
}

.inputRegister{
    height: 25px;
}

.right{
    width: 400px;
    height: 500px;
    padding: 40px;
}

h1{
    margin-bottom: 2px;
}

p{
    margin-bottom: 20px;
}

#link{
    color: var(--corTextoSecundario);
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.link{
    color: var(--corTextoSecundario);
    text-decoration: none;
}

.link:hover{
    color: var(--LinkNormal);
    text-decoration: underline;
}