

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
    135deg,
    rgba(20,20,20,1),
    rgba(30,30,30,1),
    rgba(18,18,18,1)
  );
}

.containerLogin{
    width: 800px;
    height: 500px;
    display: flex;
    flex: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border-radius: 15px;
}

.right{
    width: 400px;
    height: 500px;
    padding: 40px;
}

h1{
    color: var(--cor1);
    margin-bottom: 2px;
}

p{
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#link{
    text-align: center;
}

