.conteudo{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.esquerda, .direita{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.perfil{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 160px;
    width: 500px;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid var(--corFundoHover2);
}

.infoUser{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.nameUser{
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.userState{
    display: flex;
    flex-direction: column;
    gap: 
    0;
}

.nome {
    margin-bottom: 0;
    font-size: 1.5rem;
}

.estado{
    margin-bottom: 0;
    font-size: 1.2rem;
    background-color: var(--corFundoHover2);
    width: 100px;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    padding-top: 2px;
}

.resumoAtividade {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.resumo{
    border-right: 3px solid grey;
    padding-right: 10px;
    height: 50px;
}

.topico, .numero{
    margin-bottom: 0;
    text-align: center;
}

.topico{
    font-size: 1rem;
}

.numero{
    font-size: 1.2rem;
}

#ultimoResumo{
    border-right: none;
}

.topic{
    border: 1px solid var(--corFundoHover2);
    border-radius: 20px;
    padding: 20px;
}

#tituloTopic{
    margin-bottom: 10px;
}

