.modal-fundo{
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

.conteudo-modal{
    background-color: #fff;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#iconeFechar{
    position: absolute;
    left: 92%;
    top: 2%;
}

.tituloTopico{
    text-align: center;
    margin-top: 10px;
}

#titulo{
    border: 1px solid black;
}

#cat{
    border: 1px solid black;
}

.desc{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.desc > textarea{
    height: 100px;
    border: 1px solid black;
}

.acoes{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.botoesAcoes{
    width: 200px;
    margin-top: 0;
    height: 30px;
    
}