.card{
    width: 200px;
    height: 150px;
    border-radius: 20px;
    background-color: var(--corFundoRelativo);
    padding: 20px;
}

.card:hover{
    background-color: var(--corFundoHover2);
}

.textoSaudacoes{
    color: #fff;
}

.labelCard{
    font-size:  2.6rem;
    font-weight: bold;
}

.textCard{
    font-size: 1.5rem;
}

.fraseCard{
    font-size: 0.9rem;
}