.header{
    width: 680px;
    height: 180px;
    border: 1px solid var(--corFundoHover2);
    border-radius: 20px;
    padding: 7px;
}

#btnEncolher{
    position: absolute;
    left: 69%;
}

.encolher{
    height: 85px;
}

.des1{
    display: block;
}

.paragrafDesc{
    display: none;
}