
button{
    height: 40px;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--FundoBotao);
    margin-top: 10px;
}

button:hover{
    background-color: var(--Hover);
}

.paragraf{
    position: relative;
    top: 20%;
    color: var(--corTextoPrincipal);
}



