.aside{
    background-color: rgb(37, 37, 37);
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 90px;
    width: 270px;
}


#logo{
    display: flex;
    flex-direction: column;
    color: var(--cor1);
    font-weight: bold;
    padding-left: 20px;
}


h1{
    font-size: 1.7rem;
}

.paragrafo{
    font-weight: 100;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

li{
    padding-left: 30px;
    padding-top: 5px;
    height: 40px;
}


button.btnSair{
    display: flex;
    gap: 15px;
    background-color: transparent;
    color: rgb(196,196,196);
    margin: 0;
}

li.btn:hover{
    background-image: linear-gradient(50deg, rgba(27, 27, 246, 0.419),transparent);
    border-right: 5px solid blue;
    cursor: pointer;
}

