.card{
    width: 250px;
    height: 200px;
    border-radius: 20px;
    background-color: #fff;
    padding: 30px;
}

.textoSaudacoes{
    color: #fff;
}

.labelCard{
    font-size:  2.6rem;
    font-weight: bold;
}

.textCard{
    font-size: 1.5rem;
}

.fraseCard{
    font-size: 0.9rem;
}