

.item{
    display: flex;
    gap: 15px;
    color: var(--corTextoPrincipal);
    text-decoration: none;
    padding-left: 30px;
    height: 50px;
    padding-top: 10px;
}

.item:hover{
    background-image: linear-gradient(50deg,var(--corFundoPrincipal),transparent);
    border-right: 5px solid var(--corFundoPrincipal);
    cursor: pointer;
}

p{
    position: relative;
    top: 12px;
}