

.item{
    display: flex;
    gap: 15px;
    color: rgb(199, 196, 196);
}

.item:hover{
    background-image: linear-gradient(50deg, rgba(27, 27, 246, 0.419),transparent);
    border-right: 5px solid blue;
    cursor: pointer;
}

p{
    position: relative;
    top: 10px;
}