.home{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cards{
    display: flex;
    justify-content: space-around;
}

.topicosRecentes{
    display: flex;
    flex-direction: column;
    justify-content: none;
    gap: 10px;
}

.listaTopicos{
    border-radius: 30px;
}