
.mensagem{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: auto;
    width: 100%;
}


/* mensagem dos outros */
.mensagem.esquerda {
    flex-direction: row; /* avatar à esquerda */
    justify-content: flex-start;
}

/* mensagem do usuário */
.mensagem.direita {
    flex-direction: row-reverse; /* avatar à direita */
    justify-content: flex-end;
}

.postContent{
    display: flex;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid var(--corFundoHover2);
    max-width: 80%;
    gap: 10px;
}


/* temtando fazer um acabamento nas mensagens
.postContent::after{
    content: "";
    position: absolute;
    top: 48.9%;
    left: 23.8%;
    width: 31px;
    height: 55px;
    background-color: rgba(0, 0, 255, 0.298);
    transform: rotate(16.7deg);
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    z-index: 999;
}
*/

.postContent ,.autor-conteudo{
    display: flex;
    flex-direction: column;
}

.reacoesPost{
    display: flex;
    gap: 10px;
    width: 70px;
    align-self: flex-end;
    color: var(--corTextoPrincipal);
}
