.areaSegura{
    border: 1px solid black;
    width: 510px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titulo{
    font-size: 1.5rem;
    margin-bottom: 10px;
}