
.editarPerfil{
    border: 1px solid var(--corFundoHover2);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 370px;
    width: 480px;
}

.inputUser{
    display: flex;
    flex-direction: row;
}

.inputUser input{
    border: none;
    padding-left: 10px;
}

#nome{
    width: 400px;
}

#nomeUser{
    width: 368px;
}

#email{
    width: 405px;
}

.meuPerfil{
    font-size: 1.5rem;
}

.bio{
    display: flex;
    gap: 10px;
}

#bio{
    width: 500px;
    height: 100px;
    background-color: #cccccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
}

.btnAlterar{
    width: 150px;
    font-size: 1rem;

}

.botoes{
    display: flex;
    gap: 10px;
    flex-direction: row;
}