.reaction{
    display: flex;
    gap: 3px;
}

.icon{
    background-color: transparent;
    margin-top: 3px;
}

.icon:hover{
    background-color: transparent;
}

.number{
    margin-bottom: 0;
}

.botaoEstado{
    position: relative;
    left: 20%;
}