.containerSelect{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.containerSelect > select{
    height: 30px;
}


.especialSelect{
    gap: 5px;
}

.especialSelect > select{
    height: 25px;
}