.topBar{
    background-color: var(--corFundoRelativo);
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 5px;
    display: flex;
}

.iconItems{
    display: flex;
    gap: 20px;
    position: absolute;
    left: 90%;
}



