.topBar{
    background-color: var(--corFundoRelativo);
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 5px;
    display: flex;
}

.iconItems{
    display: flex;
    gap: 20px;
    position: absolute;
    left: 92%;
}

.resultadoBusca{
    position: absolute;
    background: white;
    width: 350px;
    border-radius: 8px;
    margin-top: 5px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
    z-index: 1000;
    color: #000;
}

.itemResultado{
    padding: 10px;
    cursor: pointer;
}

.itemResultado:hover{
    background: #f3f4f6;
}

