.header{
    width: 700px;
    height: 180px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}

#btnEncolher{
    position: absolute;
    left: 69%;
}

.encolher{
    height: 85px;
}

.des1{
    display: block;
}

.paragrafDesc{
    display: none;
}